<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'dashBoardProvost/styles.css' %}" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'dashBoardProvost:provostIndex' %}">Profile</a>
        <a href="{% url 'dashBoardProvost:upload' %}">Upload CSV</a>
        <a href="{% url 'dashBoardProvost:InitializeHostelForm' %}">Initialize your hostels</a>
        <a href="{% url 'dashBoardProvost:Allotment' %}">Allot Rooms</a>
        <!-- <a href="#">Update Profile</a> -->
        <a href="#">Grievances</a>
        <a href="#">Logout</a>
    </div>

    <div id="main">
        <!-- <h2>Sidenav Push Example</h2> -->
        <!-- <p>Click on the element below to open the side navigation menu, and push this content to the right.</p> -->
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Provost</span>
        <div class="container-fluid" id="content-areas">
            <!-- Hello -->
            {% block content %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} 
                {{ form.as_p }}
                <p>Upload you .csv file</p>
                <p>Make sure the name of the file is 'filename.csv'</p>
                <button type="submit">Upload</button>
                <hr>
                <!-- <button type="submit">Update List</button> -->
            </form>
            {% if messages %}
            {% for message in messages %}
            <script {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                alert(' {{ message }} ')
            </script>
            {% endfor %}
            {% endif %}
            
            {% if messages %}
            <!-- <ul class="messages">
                {% for message in messages %}
                <li >{{ message }}</li>
                {% endfor %}
            </ul> -->
            {% endif %}
            
            <!-- <p><a href="{%  url 'fileUploads:index' %}">Return to home</a></p> -->
            {% endblock %}
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

</body>

</html>