<html>

<head>
    <title>Login Page</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .loginBox{
            width: 250px;
            height: 50%;
            margin: 100px auto;
            box-shadow: 0px 2px 5px 5px #888888;
            border-radius: 5px;
            padding: 10px;
        }
        .topic{
            background-color: tomato;
            color: white;
            padding: 20px;
            border-radius: 5px;
        }
    </style>

    <body>
        <div class="loginBox container-fluid">
            <div class="container-fluid topic">
                <h3>Student Login:</h3>
            </div>
            <hr>
            <form method='POST'>
                {% csrf_token %}
                <p>
                    <label for="username">Username :</label>
                    <input type="text" name="username">
                </p>
                <p>
                    <label for="password"> Password : </label>
                    <input type="password" name="password">
                </p>
                <hr>
                <p>
                    <input type="submit" value="Login">
                </p>
            </form>
        </div>
    </body>

</html>